Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(?:config|database|src|storage)(?:/|$) - [F,L,NC]
</IfModule>

<FilesMatch "(^\.|\.(?:sql|log|ini|env|bak))$">
  Require all denied
</FilesMatch>

<IfModule !mod_authz_core.c>
  <FilesMatch "(^\.|\.(?:sql|log|ini|env|bak))$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>

